.container{
    margin: 40px 0;
}

.locationName {
    font-size: calc(28px + 1.5vw);
}

.break {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin: 5px 0;
}

.options {
    margin: 10px 0;
}

.optionRow {
    display: flex;
}

.option {
    margin-bottom: 5px;
}

.value {
    font-size: 20px;
    font-weight: 500;
}

.editIcon {
    
}

.filler {
    flex: 1;
}

.label {
    font-size: 14px;
}

.managerList {
    width: 100%;
}