.container {
    margin-top: 1vh;
}

mat-card {
    margin-bottom: 1vh;
}

.breadcrumbs {
    margin-bottom: 1vh;
}

.breadcrumbs span {
    color: #111;
    font-size: calc(0.5vw + 12px);
}

.breadcrumbs a {
    font-size: calc(0.5vw + 12px);
}

.breadcrumbs a:link,
a:visited {
    color: blue;
}

.name {
    color: #111;
    font-size: calc(1vw + 16px);
    font-weight: 700;
    line-height: calc(1vw + 16px);
    margin-bottom: 3px;
    width: 100%;
}

.info {
    font-size: calc(0.3vw + 12px);
}

.editForm div {
    margin-bottom: 2px;
}

.textfield {
    border: none;
    border-bottom: 1px solid black;
    font-weight: normal;
}

.textfield:focus {
    border-bottom: 2px solid #673ab7;
}

.save {
    background-color: #43d047;
    color: whitesmoke;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-left: 3px;
    width: 10%;
}

.filler {
    flex: 1;
}

.managerList {
    width: 100%;
}
