.container {
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
}

.row {
    margin-bottom: 20px;
}

.content {
    transition: background-color .2s linear;
    cursor: pointer;
}

.content:hover {
    transition: background-color .2s linear;
    background-color: #EEE;
}

.icon {
    text-align: center;
    font-size: calc(60px + 3vw);
    width: 100%;
    height: calc(60px + 3vw);
}

.label {
    margin-top: 0;
    text-align: center;
    font-size: calc(12px + 1vw);
}