<div class="container">
    <div
        fxLayout="row"
        fxLayout.lt-sm-="column"
        fxLayoutGap="5%"
        fxFlex.xs="90%"
        fxFlex="50%"
        fxFlexOffset="25%"
    >
        <mat-card class="content"  routerLink="/employees" fxFlex="30" fxFlex.xs="90">
            <mat-card-content class="content">
                <mat-icon class="icon">account_box</mat-icon>
                <p class="label">Manage Employees</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="content" routerLink="/schedules" fxFlex="30" fxFlex.xs="90">
            <mat-card-content class="content">
                <mat-icon class="icon">calendar_today</mat-icon>
                <p class="label">Manage Schedules</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="content"  routerLink="/settings" fxFlex="30" fxFlex.xs="90">
            <mat-card-content class="content">
                <mat-icon class="icon">settings_applications</mat-icon>
                <p class="label">User Settings</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>