.container {
    margin-top: 50px;
}

.icon {
    text-align: center;
    font-size: 120px;
    width: 100%;
    height: 120px;
}

.label {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}