<div class="container">
    <div fxLayoutAlign="center center">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxFlex.xs="90%" fxFlex.sm="75%" fxFlex="50%">
            <mat-card class="content"  routerLink="/employees" fxFlex>
                <mat-card-content class="content">
                    <mat-icon class="icon">account_box</mat-icon>
                    <p class="label">Manage Employees</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="content" routerLink="/schedules" fxFlex>
                <mat-card-content class="content">
                    <mat-icon class="icon">calendar_today</mat-icon>
                    <p class="label">Manage Schedules</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="content"  routerLink="/settings" fxFlex>
                <mat-card-content class="content">
                    <mat-icon class="icon">settings_applications</mat-icon>
                    <p class="label">User Settings</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>