.location-card {
    min-width: 250px;
    width: 40%;
    margin: 5vh auto;
}

.location-form {
    width: 100%;
}

.full-width {
    width: 100%;
}

.address {
    width: 100%;
    margin-right: 5px;
}

.city {
    width: 50%;
    margin-right: 5px;
}

.state {
    width: calc(25% - 10px);
    margin-right: 5px;
}

.zip {
    width: 25%;
}

.submit {
    margin-left: 0px;
}

.spacing {
    height: 10px;
}