<div class="container">
    <div class="buttons">
        <mat-form-field class="select">
            <mat-select (selectionChange)="locationService.loadLocation($event.value)" [value]="(userService.getCurrentUserInfo() | async)?.locations[0].key">
                <mat-option *ngFor="let loc of (userService.getCurrentUserInfo() | async)?.locations" [value]="loc.key">
                    {{loc.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search">
            <input type="search" matInput (input)="filter($event.target.value)" placeholder="Search Schedules">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="openNewScheduleDialog()">New Schedule</button>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell class="name" *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let schedule"  (click)="openSchedule(schedule)"> {{schedule.label}} </td>
            </ng-container>
            
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let schedule">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon class="icon">more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="edit(schedule)">Manage</button>
                        <button mat-menu-item (click)="delete(schedule)">Delete</button>
                    </mat-menu>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>