.container {
    margin: 5px auto;
    width: 90%;
}

.buttons {
  width: 100%;
  margin: 10px 0;
}

.buttons button {
  margin-top: 10px;
  height: 40px;
  width: 10%;
}

.select {
  width: 10%;
}

.search {
  margin: 0 10%;
  width:60%;
}

table {
  width: 100%;
}

.name {
    width: 90%;
    min-width: 100px;
}