.login-card {
    margin: auto;
    margin-top: 9vh;
    min-width: 150px;
    max-width: 500px;
}
.login-form {
    width: 100%;
}

.full-width {
    width: 100%;
}

.submit {
    margin-left: 0px;
}

.spacing {
    height: 10px;
}

.logo {
    text-align: center;
    margin-top: 5vh;
}

.logo h1 {
    font-size: calc(22px + 2vw);
    margin: 0;
}

.logo h2 {
    font-size: calc(18px + 1.5vw);
    margin: 0;
}

.login-redirect {
    margin: auto;
    padding: 16px;
    text-align: left;
    min-width: 150px;
    max-width: 500px;
}