<div class="logo">
    <h1>PicoStaff</h1>
    <h2>Business Management System</h2>
</div>
<mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <div class="spacing"></div>
    <mat-card-content>
        <form class="login-form">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input (keydown)="enter($event)" matInput [formControl]="email" placeholder="Email" name="email">
                <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input (keydown)="enter($event)" matInput [formControl]="password" placeholder="Password" type="password" name="password">
                <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="loginError">{{loginError}}</mat-error>
        </form>
    </mat-card-content>
    <mat-card-actions class="submit">
        <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
    </mat-card-actions>
</mat-card>
<p class="login-redirect">Don't have an account? <a [routerLink]="['/register']" >Register</a></p>
