<h1 mat-dialog-title class="title">Shift Coverage</h1>
<div class="content" mat-dialog-content>
    <mat-tab-group class="tabs" [dynamicHeight]="true">
        <mat-tab label="Coverage">
            <div class="flexContainer" fxLayout="column">
                <div fxFlex="80" #container class="container">
                    <table class="coverageTable">
                        <tr *ngFor="let t of times; let timeIndex = index">
                            <td #time class="time">{{timeService.timeToString(t,false)}}</td>
                            <td *ngFor="let c of [].constructor(coverage.covered[timeIndex])" class="blockContainer">
                                <div [ngStyle]="{'min-width': blockWidth+'px'}" class="block filled no-select"></div>
                            </td>
                            <td *ngFor="let e of [].constructor(coverage.empty[timeIndex])" class="blockContainer">
                                <div [ngStyle]="{'min-width': blockWidth+'px'}" class="block empty no-select"></div>
                            </td>
                            <td *ngFor="let o of [].constructor(coverage.over[timeIndex])" class="blockContainer">
                                <div [ngStyle]="{'min-width': blockWidth+'px'}" class="block over no-select"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div fxFlex="20" class="key">
                    <div fxFlexOffset="5%" fxFlex="30%" fxLayoutAlign="space-around center" class="item">
                        <div class="block example filled no-select"></div>
                        <span fxFlex="grow" fxFlexOffset="5%" class="description">Covered</span>
                    </div>
                    <div fxFlex="30%" fxLayoutAlign="space-around center" class="item">
                        <div class="block example empty no-select"></div>
                        <span fxFlex="grow" fxFlexOffset="5%" class="description">Short</span>
                    </div>
                    <div fxFlex="30%" fxLayoutAlign="space-around center" class="item">
                        <div class="block example over no-select"></div>
                        <span fxFlex="grow" fxFlexOffset="5%" class="description">Over</span>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Open Shifts">
            <div *ngFor="let shift of openShifts" class="row">
                <span class="shiftTime">{{parseShift(shift)}}</span>
            </div>
        </mat-tab>
    </mat-tab-group>
    
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="secondary" (click)="close()">Close</button>
</div>