.box {
    margin: 10% auto;
    width: 60%;
}
p {
    font-size: calc(12px + 1vw);
    text-align: left;
    width: 100%;
}

span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

span:hover {
    color: #63F;
}

span:active {
    color: darkblue;
}