.container {
  margin: 5px auto;
  width: 90%;
}

.buttons {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  height: 40px;
}

table {
  width: 100%;
}

.firstName {
    width: 15%;
    min-width: 100px;
}

.lastName {
    width: 25%;
    min-width: 100px;
}

.email {
  width: 65%;
  min-width: 100px;
}