<div [ngClass]="{'container': !inline}">
    <div fxLayout="row" class="actions">
        <app-location-selector fxFlex="15" *ngIf="!inline" class="select"></app-location-selector>
        <mat-form-field fxFlex="60" fxFlex.xs="50" fxFlexOffset="5" class="search">
            <input type="search" matInput (input)="filter($event.target.value)" placeholder="Search Employees">
        </mat-form-field>
        <button fxFlex="15" fxFlex.xs="25" fxFlexOffset="5" mat-raised-button color="primary" [disabled]="loadedLocation == null" (click)="openNewEmployeeDialog()">{{buttonContent()}}</button>
    </div>
    <div class="mat-elevation-z8">
        <div class="tableContainer">
            <app-desktop-employee-table
                *ngIf="!mobile()"
                [dataSource]="dataSource"
                [viewEmployee]="viewEmployee.bind(this)"
                [openNewEmployeeDialog]="openNewEmployeeDialog.bind(this)"
                [deleteEmployee]="deleteEmployee.bind(this)"
                >
            </app-desktop-employee-table>
            <app-mobile-employee-table
                *ngIf="mobile()"
                [dataSource]="dataSource"
                [viewEmployee]="viewEmployee.bind(this)"
                [openNewEmployeeDialog]="openNewEmployeeDialog.bind(this)"
                [deleteEmployee]="deleteEmployee.bind(this)"
                >
            </app-mobile-employee-table>
        </div>
        <mat-paginator [pageSizeOptions]="inline ? [5] : [25,50,100]" showFirstLastButtons></mat-paginator>
    </div>
</div>