<h1 mat-dialog-title>Add Shift</h1>
<div class="content" mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="employee" placeholder="Employee" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let emp of getNames(location.getEmployees() | async)" [value]="emp">{{emp.firstName + ' ' + emp.lastName}}</mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="employee.invalid">{{getEmployeeError()}}</mat-error>
    </mat-form-field>
    <div class="time-container">
        <mat-label>Shift Start:</mat-label>
        <app-time-select #start [control]="shiftStart"></app-time-select>
        <mat-error>{{getShiftStartError()}}</mat-error>
        <div class="spacer"></div>
        <mat-label>Shift End:</mat-label>
        <app-time-select #end [control]="shiftEnd"></app-time-select>
        <mat-error>{{getShiftEndError()}}</mat-error>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="employee.invalid || shiftStart.invalid || shiftEnd.invalid" (click)="submit()">Add Shift</button>
</div>