<h1  mat-dialog-title class="title">{{data.shift ? "Edit" : "Add"}} Shift</h1>
<div class="content" mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="employee" placeholder="Employee" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let emp of getNames(location.getEmployees() | async)" [value]="emp">{{emp.firstName + ' ' + emp.lastName}}</mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="employee.invalid">{{getEmployeeError()}}</mat-error>
    </mat-form-field>
    <div class="time-container">
        <mat-label class="label">Shift Start:</mat-label>
        <input class="time" [ngxTimepicker]="start" [min]="timeService.timeToString(data.sheet.openTime)" [max]="shiftEnd.value" [formControl]="shiftStart" readonly>
        <ngx-material-timepicker [minutesGap]="data.sheet.timeIncrement" #start></ngx-material-timepicker>
        <mat-error>{{getShiftStartError()}}</mat-error>
        <div class="spacer"></div>
        <mat-label class="label">Shift End:</mat-label>
        <input class="time" [ngxTimepicker]="end" [min]="shiftStart.value" [max]="timeService.timeToString(data.sheet.closeTime)" [formControl]="shiftEnd" readonly>
        <ngx-material-timepicker [minutesGap]="data.sheet.timeIncrement" #end></ngx-material-timepicker>
        <mat-error>{{getShiftEndError()}}</mat-error>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="employee.invalid || shiftStart.invalid || shiftEnd.invalid" (click)="submit()">{{data.shift ? "Save Changes" : "Add Shift"}}</button>
</div>