mat-table {
    width: 100%;
}

.row {
    transition: .2s linear;
}

.row:hover {
    background-color:whitesmoke;
    transition: .2s linear;
}

.noEmail {
    color: grey;
}

.button {
    padding: 0;
    min-width: 30px;
}