<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="over">
        <div class="logo">
            <h1 fittext>Time Table</h1>
        </div>
        <div class="menu-item">
            <span fittext [maxFontSize]="25" (click)="navigate('')">Dashboard</span>
        </div>
        <div class="menu-item">
            <span fittext [maxFontSize]="25" (click)="navigate('employees')">Employees</span>
        </div>
        <div class="menu-item">
            <span fittext [maxFontSize]="25" (click)="navigate('schedules')">Schedules</span>
        </div>
        <div class="menu-item">
            <span fittext [maxFontSize]="25" (click)="navigate('settings')">Settings</span>
        </div>

    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-toolbar (toggled)="toggle()"></app-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>