<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="over">
        <div class="logo">
            <h1 fittext>PicoStaff</h1>
        </div>
        <div class="menu-item">
            <span class="menu-item-text" (click)="navigate('')">Dashboard</span>
        </div>
        <div class="menu-item">
            <span class="menu-item-text" (click)="navigate('employees')">Employees</span>
        </div>
        <div class="menu-item">
            <span class="menu-item-text" (click)="navigate('schedules')">Schedules</span>
        </div>
        <div class="menu-item">
            <span class="menu-item-text" (click)="navigate('settings')">Settings</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-toolbar (toggled)="toggle()"></app-toolbar>
        <ng-content></ng-content>
        <app-ad-unit class="ad"></app-ad-unit>
    </mat-sidenav-content>
</mat-sidenav-container>