<h1 mat-dialog-title>New Employee</h1>
<div class="content" mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="firstName" placeholder="First Name">
    <mat-error *ngIf="firstName.invalid">{{getFirstNameError()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="lastName" placeholder="Last Name">
    <mat-error *ngIf="lastName.invalid">{{getLastNameError()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="email" placeholder="Email">
    <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="firstName.invalid || lastName.invalid || email.invalid" (click)="submit()">{{data.employee ? "Save Changes" : "Add Employee"}}</button>
</div>
