.signup-card {
    margin: auto;
    margin-top: 5vh;
    min-width: 150px;
    max-width: 500px;
}
.signup-form {
    width: 100%;
}

.full-width {
    width: 100%;
}

.first-name {
    width: 45%;
    margin-right: 5%;
}

.last-name {
    width: 50%;
}

.submit {
    margin-left: 0px;
}

.submit button {
    margin-bottom: 10px;
}

.spacing {
    height: 10px;
}

.logo {
    text-align: center;
    margin-top: 5vh;
}

.logo h1 {
    font-size: calc(22px + 2vw);
    margin: 0;
}

.logo h2 {
    font-size: calc(18px + 1.5vw);
    margin: 0;
}

.role {
    font-size: 16px;
}

.role span {
    font-weight: bold;
}

.login-redirect {
    margin: auto;
    padding: 16px;
    text-align: left;
    min-width: 150px;
    max-width: 500px;
}