<div (window:resize)="resizeSchedule()" #container class="container">
    <table #schedule class="schedule" *ngIf="curSheet">
        <tr>
            <th class="label rightBorder">{{curSheet.label}}</th>
            <th class="hoursColumn rightBorder"></th>
            <th class="hbuffer"></th>
            <th class="time rightBorder" colspan="2" *ngFor="let t of timeColumns">{{formatTime(t)}}</th>
        </tr>
        <ng-container *ngFor="let shift of createdShifts; let i = index">
            <tr class="vbuffer" [ngClass]="{'shift': i%2==0}">
                <td class="rightBorder"></td>
                <td class="hoursColumn rightBorder"></td>
                <td class="hbuffer"></td>
                <td class="rightBorder" colspan="2" *ngFor="let t of timeColumns"></td>
            </tr>
            <!-- Dummy shift rows to make table appear filled out -->
            <tr *ngIf="!shift" [ngClass]="{'shift': i%2==0}">
                <td class="name rightBorder"></td>
                <td class="hoursColumn rightBorder"></td>
                <td class="hbuffer"></td>
                <ng-container *ngFor="let t of timeColumns">
                    <td class="rightBorder" colspan="2"></td>
                </ng-container>
            </tr>
            <!-- Actual Shift data -->
            <tr *ngIf="shift" [ngClass]="{'shift': i%2==0}">
                <td class="name rightBorder" (mouseenter)="enter(shift)">
                    <span class="name-text">
                        {{parseName(((locationService.currentLocation | async).getEmployees() | async).get(shift.empId))}}
                    </span>
                    <button *ngIf="hovered == shift" mat-icon-button [disableRipple]="true" [matMenuTriggerFor]="menu" class="dropdown-arrow-emp-container">
                        <mat-icon class="dropdown-arrow-emp" >arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu xPosition="before" #menu="matMenu">
                        <button mat-menu-item (click)="openNewShiftDialog(shift)">Edit</button>
                        <button mat-menu-item (click)="deleteShift(shift)">Delete</button>
                    </mat-menu>
                </td>
                <td class="hoursColumn rightBorder">
                    {{getHourSpan(shift)}}
                </td>
                <td class="hbuffer"></td>
                <ng-container *ngFor="let t of timeColumns">
                    <td [ngClass]="{'shaded': shouldShade(t, shift, true)}"></td>
                    <td class="rightBorder" [ngClass]="{'shaded': shouldShade(t, shift, false)}"></td>
                </ng-container>
            </tr>
            <tr class="vbuffer" [ngClass]="{'shift': i%2==0}">
                <td class="rightBorder"></td>
                <td class="hoursColumn rightBorder"></td>
                <td class="hbuffer"></td>
                <td class="rightBorder" colspan="2" *ngFor="let t of timeColumns"></td>
            </tr>
        </ng-container>
        <ng-container>
            <tr [ngStyle]="{'height':remainingSpace+'px'}">
                <td class="rightBorder"></td>
                <td class="hoursColumn rightBorder"></td>
                <td class="hbuffer"></td>
                <td class="rightBorder" colspan="2" *ngFor="let t of timeColumns"></td>
            </tr>
        </ng-container>
    </table>
</div>
<mat-toolbar class="footer">
    <div *ngIf="!(activatedRoute.data | async).guest" class="addSheet">
        <mat-icon (click)="openNewSheetDialog()">add</mat-icon>
    </div>
    <div *ngIf="currentSchedule && curSheet" cdkDropList cdkDropListOrientation="horizontal" class="sheets" (cdkDropListDropped)="dropSheetLabel($event)" [ngClass]="{'mobile': mobile()}">
        <div class="sheet"
            *ngFor="let sheet of currentSchedule.sheets"
            [ngClass]="{'selectedSheet': sheet.display==curSheet.label}"
            [cdkDragDisabled]="(activatedRoute.data | async).guest"
            (click)="displaySheetClick(sheet.key)"
            cdkDrag cdkDragLockAxis="x"
        >{{sheet.display}}
            <button *ngIf="sheet.display==curSheet.label && !(activatedRoute.data | async).guest" mat-icon-button [disableRipple]="true" [matMenuTriggerFor]="menu" class="dropdown-arrow-container">
                <mat-icon class="dropdown-arrow" >arrow_drop_down</mat-icon>
            </button>
            <mat-menu xPosition="before" #menu="matMenu">
                <button mat-menu-item (click)="openNewSheetDeleteConfirmation()">Delete</button>
                <button mat-menu-item (click)="openNewSheetDialog(true)">Edit</button>
            </mat-menu>
        </div>
    </div>
    <div class="filler"></div>
    <button *ngIf="!(activatedRoute.data | async).guest" mat-raised-button color="primary" class="addShift right" [disabled]="!curSheet" (click)="openNewShiftDialog()">Add Shift</button>
    <button *ngIf="!(activatedRoute.data | async).guest" mat-raised-button color="primary" class="addShift right" [disabled]="!curSheet" (click)="printSchedule()">Print</button>
</mat-toolbar>