.container {
    background-color: #F8F8F8;
    height: calc(100% - 114px);
    width: 100%;
    overflow-x: scroll;
}

.footer {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(#EEE, #CCC);
    border-top: 2px solid lightgrey;
    box-sizing: border-box;
}

.sheets {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    border-radius: 4px;
}

.mobile {
    overflow-x: scroll;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.sheet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    border-left: 1px solid #BBB;
    color: #888;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}

.sheet:not(.selectedSheet):hover {
    background-color: #CCC;
    cursor: pointer;
}

.sheet:active:not(.selectedSheet) {
    background-image: linear-gradient( #DDD, #CCC);
}

.selectedSheet {
    color: rebeccapurple;
    background-color: #EFEFEF
}

.sheet:last-child {
    border-right: 1px solid #BBB;
}

.addSheet {
    height: 100%;
    color: rebeccapurple;
    cursor: pointer;
    margin-right: 10px;
    width: 34px;
}

.addSheet mat-icon {
    font-size: 34px;
    vertical-align: middle;
    line-height: 48px;
    height: 48px;
}

.toolbarButton {
    cursor: pointer;
    font-weight: 500;
    font-size: calc(10px + 0.5vh);
    margin-right: 6px;
    line-height: 36px;
}

.time {
    width: 75px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.schedule {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.hoursColumn {
    width: 140px;
    font-size: 15px;
}

.rightBorder {
    border-right: 1px solid #333;
}

.label {
    width: 100px;
    left: 0;
    z-index: 10;
}

.name {
    height: 24px;
}

.name-text {
    width: calc(100% - 25px);
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
    overflow-x: hidden;
}

.dropdown-arrow-emp-container {
    float: right;
    height: 20px;
    width: 20px;
    vertical-align: center;
}

.dropdown-arrow-emp {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.mat-icon-button {
    line-height: 20px;
}

.onshift {
    background-color: #fafafa;
}

.offshift {
    background-color: #eee;
}

th {
    border-bottom: 1px solid #222;
    position: sticky;
    top:0;
    background-color: #fafafa;
    z-index:9;
}

td {
    text-align: center;
}

.sticky {
    left: 0;
    position: sticky;
}

.hbuffer {
    width: 5px;
}

.vbuffer {
    height: 4px;
}

.shaded {
    background-color: #778;
}

.filler {
    flex: 1 1 auto;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sheets.cdk-drop-list-dragging .sheet:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dropdown-arrow-container {
    width: 20px;
    margin-left: 2px;
}

.dropdown-arrow {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.action-menu-container {
    margin-left: 2px;
    color: rebeccapurple;
    width: 40px;
}

.action-menu {
    font-size: 40px;
    height: 40px;
    line-height: 40px !important;
    vertical-align: middle;
    width: 40px;
}

.dropdown-arrow:hover, .dropdown-arrow-emp:hover {
    background-color: #CFCFCF;
    cursor: pointer;
}