<div class="container">
    <table class="schedule" *ngIf="curSheet">
        <tr>
            <th class="label">{{curSheet.label}}</th>
            <th class="hbuffer"></th>
            <th class="time" *ngFor="let t of timeColumns">{{formatTime(t)}}</th>
        </tr>
        <ng-container *ngFor="let shift of shifts">
            <tr class="vbuffer">
                <td class="name"></td>
            </tr>
            <tr>
                <td class="name">{{parseName((currentLocation.getEmployees() | async).get(shift.empId))}}</td>
                <td class="hbuffer"></td>
                <td *ngFor="let t of timeColumns" [ngClass]="{'shaded': isInShift(t, shift)}"></td>
            </tr>
        </ng-container>
    </table>
</div>
<mat-toolbar class="footer">
    <div class="addSheet">
        <mat-icon (click)="openNewSheetDialog()">add</mat-icon>
    </div>
        <div *ngIf="currentSchedule && sheets" cdkDropList cdkDropListOrientation="horizontal" class="sheets" (cdkDropListDropped)="dropSheetLabel($event)">
        <div class="sheet"
            *ngFor="let sheetNum of currentSchedule.sheetOrder"
            [ngClass]="{'selectedSheet': sheets[sheetNum].label==curSheet.label}"
            (click)="loadSheet(sheets[sheetNum].label)"
            cdkDrag cdkDragLockAxis="x"
        >{{sheets[sheetNum].label}}</div>
    </div>
    <div class="filler"></div>
    <button mat-raised-button color="primary" class="addShift right" (click)="openNewShiftDialog()">Add Shift</button>
</mat-toolbar>
<!-- <div class="footer">
     <ul class="footer-items">
        <li></li>
        <li class="sheet" >{{sheet.label}}</li>
        <button mat-raised-button color="primary" class="addShift right" (click)="openNewShiftDialog()">Add Shift</button>
    </ul>
</div> -->