<div (window:resize)="resizeSchedule()" #container class="container">
    <table #schedule class="schedule" *ngIf="curSheet">
        <tr>
            <th class="label">{{curSheet.label}}</th>
            <th class="hbuffer"></th>
            <th class="time timeColumn" colspan="2" *ngFor="let t of timeColumns">{{formatTime(t)}}</th>
        </tr>
        <ng-container *ngFor="let shift of createdShifts; let i = index">
            <tr class="vbuffer" [ngClass]="{'shift': i%2==0}">
                <td class="name-container"></td>
                <td class="hbuffer"></td>
                <td class="timeColumn" colspan="2" *ngFor="let t of timeColumns"></td>
            </tr>
            <tr *ngIf="!shift" [ngClass]="{'shift': i%2==0}">
                <td class="name-container">
                    <span class="name-text"></span>
                </td>
                <td class="hbuffer"></td>
                <ng-container *ngFor="let t of timeColumns">
                    <td></td>
                    <td class="timeColumn"></td>
                </ng-container>
            </tr>
            <tr *ngIf="shift" [ngClass]="{'shift': i%2==0}">
                <td class="name-container" (mouseenter)="enter(shift)">
                    <span class="name-text">
                        {{parseName((currentLocation.getEmployees() | async).get(shift.empId))}}
                    </span>
                    <button *ngIf="hovered == shift" mat-icon-button [disableRipple]="true" [matMenuTriggerFor]="menu" class="dropdown-arrow-emp-container">
                        <mat-icon class="dropdown-arrow-emp" >arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu xPosition="before" #menu="matMenu">
                        <button mat-menu-item (click)="openNewShiftDialog(shift)">Edit</button>
                        <button mat-menu-item (click)="deleteShift(shift)">Delete</button>
                    </mat-menu>
                </td>
                <td class="hbuffer"></td>
                <ng-container *ngFor="let t of timeColumns">
                    <td [ngClass]="{'shaded': shouldShade(t, shift, true)}"></td>
                    <td class="timeColumn" [ngClass]="{'shaded': shouldShade(t, shift, false)}"></td>
                </ng-container>
            </tr>
            <tr class="vbuffer" [ngClass]="{'shift': i%2==0}">
                <td class="name-container"></td>
                <td class="hbuffer"></td>
                <td class="timeColumn" colspan="2" *ngFor="let t of timeColumns"></td>
            </tr>
        </ng-container>
        <ng-container>
            <tr [ngStyle]="{'height':remainingSpace+'px'}">
                <td class="name-container"></td>
                <td class="hbuffer"></td>
                <td class="timeColumn" colspan="2" *ngFor="let t of timeColumns"></td>
            </tr>
        </ng-container>
    </table>
</div>
<mat-toolbar class="footer">
    <div class="addSheet">
        <mat-icon (click)="openNewSheetDialog()">add</mat-icon>
    </div>
        <div *ngIf="currentSchedule && sheets" cdkDropList cdkDropListOrientation="horizontal" class="sheets" (cdkDropListDropped)="dropSheetLabel($event)">
        <div class="sheet"
            *ngFor="let sheetNum of currentSchedule.sheetOrder"
            [ngClass]="{'selectedSheet': sheets[sheetNum].label==curSheet.label}"
            (click)="loadSheet(sheets[sheetNum].label)"
            cdkDrag cdkDragLockAxis="x"
        >{{sheets[sheetNum].label}}
            <button *ngIf="sheets[sheetNum].label==curSheet.label" mat-icon-button [disableRipple]="true" [matMenuTriggerFor]="menu" class="dropdown-arrow-container">
                <mat-icon class="dropdown-arrow" >arrow_drop_down</mat-icon>
            </button>
            <mat-menu xPosition="before" #menu="matMenu">
                <button mat-menu-item (click)="openNewSheetDeleteConfirmation()">Delete</button>
                <button mat-menu-item (click)="openNewSheetDialog(sheets[sheetNum])">Edit</button>
            </mat-menu>
        </div>
    </div>
    <div class="filler"></div>
    <button mat-raised-button color="primary" class="addShift right" [disabled]="!sheets" (click)="openNewShiftDialog()">Add Shift</button>
</mat-toolbar>