.container {
    background-color: #F8F8F8;
    height: calc(100% - 114px);
    width: 100%;
    overflow-x: scroll;
}

.footer {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(#F0F0F0, #D5D5D5);;
    border-top: 2px solid lightgrey;
    box-sizing: border-box;
}

.sheets {
    margin: 0;
    margin-left: 30px;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.sheets li {
    display: inline-block;
    height: 48px;
    line-height: 48px;
}

.sheet {
    border-left: 2px solid #BBB;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}

li.sheet:nth-last-child(2) {
    border-right: 2px solid #BBB;
}

.left {
    float: left;
}

.right {
    float: right;
}

.schedule {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.label {
    border-right: 1px solid black;
}

.name {
    font-weight: bold;
    border-right: 1px solid black;
}

th {
    border-bottom: 1px solid black;
    width: 80px;
}

td {
    text-align: center;
}

.hbuffer {
    width: 5px;
}

.vbuffer {
    height: 5px;
}

.shaded {
    background-color: #555;
}