.container {
    background-color: #F8F8F8;
    height: calc(100% - 114px);
    width: 100%;
    overflow-x: scroll;
}

.footer {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(#EEE, #CCC);
    border-top: 2px solid lightgrey;
    box-sizing: border-box;
}

.sheets {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    border-radius: 4px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.sheet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    border-left: 1px solid #BBB;
    color: #888;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
}

.sheet:not(.selectedSheet):hover {
    background-color: #CCC;
    cursor: pointer;
}

.sheet:active:not(.selectedSheet) {
    background-image: linear-gradient( #DDD, #CCC);
}

.selectedSheet {
    color: rebeccapurple;
    background-color: #EFEFEF
}

.sheet:last-child {
    border-right: 1px solid #BBB;
}

.addSheet {
    height: 100%;
    color: rebeccapurple;
    cursor: pointer;
    margin-right: 10px;
    width: 34px;
}

.addSheet mat-icon {
    font-size: 34px;
    vertical-align: middle;
    line-height: 48px;
    height: 48px;
}

.addShift {
    cursor: pointer;
    font-weight: 500;
    margin-right: 6px;
    line-height: 36px;
}

.time {
    min-width: 75px;
}

.timeColumn {
    border-right: 1px solid #222;
}

.left {
    float: left;
}

.right {
    float: right;
}

.schedule {
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
}

.label {
    border-right: 1px solid black;
    min-width: 100px;
}

.name-container {
    border-right: 1px solid black;
}

.name-text {
    width: calc(100% - 20px);
    height: 24px;
    line-height: 24px;
    float: left;
    overflow-x: hidden;
}

.dropdown-arrow-emp-container {
    float: right;
    height: 20px;
    width: 20px;
    vertical-align: center;
}

.dropdown-arrow-emp {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.mat-icon-button {
    line-height: 20px;
}

th {
    border-bottom: 1px solid black;
    width: 80px;
}

td {
    text-align: center;
}

.hbuffer {
    width: 5px;
}

.vbuffer {
    height: 5px;
}

.shaded {
    background-color: #555;
}

.filler {
    flex: 1 1 auto;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sheets.cdk-drop-list-dragging .sheet:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dropdown-arrow-container {
    width: 20px;
    margin-left: 2px;
}

.dropdown-arrow {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.dropdown-arrow:hover, .dropdown-arrow-emp:hover {
    background-color: #CFCFCF;
    cursor: pointer;
}