.container {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.coverageTable {
    border-spacing: 1px;
}

.time {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.blockContainer {
    height: 22px;
}

.block {
    background-color: #cef;
    margin-top: 1px;
    height: 20px;
}

.block:hover {
    background-color: #ade;
}

.block:active {
    background-color: #8be;
}

.active {
    background-color: #8bf;
}

.active:hover {
    background-color: #9cf;
}