<h1 mat-dialog-title>Define Shift Coverage</h1>
<div class="content" mat-dialog-content>
    <div class="container">
        <table class="coverageTable">
            <tr *ngFor="let time of times">
                <td class="time">{{timeService.timeToString(time,false)}}</td>
                <td *ngFor="let block of blocks" class="block"></td>
            </tr>
        </table>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="" (click)="submit()">Save Changes</button>
</div>