<h1 mat-dialog-title>Define Shift Coverage</h1>
<div class="content" mat-dialog-content>
    <div #container class="container">
        <table class="coverageTable">
            <tr *ngFor="let t of times; let timeIndex = index">
                <td #time class="time">{{timeService.timeToString(t,false)}}</td>
                <td *ngFor="let block of blocks" [ngStyle]="{'min-width': blockWidth+'px'}" class="blockContainer">
                    <div
                        class="block no-select"
                        [ngClass]="{'active': coverage[timeIndex] >= block }"
                        (click)="select(timeIndex, block)"
                    >{{coverage[timeIndex]==block ? block : ''}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="" (click)="submit()">Save Changes</button>
</div>