<h1 mat-dialog-title>Add Sheet</h1>
<div class="content" mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="sheet" placeholder="Sheet Name">
        <mat-error *ngIf="sheet.invalid">{{getSheetError()}}</mat-error>
    </mat-form-field>
    <div class="time-container">
        <mat-label>Open Time:</mat-label>
        <app-time-select #openSheet [disabled]="!sheet.value" [control]="open"></app-time-select>
        <mat-error *ngIf="sheet.value">{{getOpenError()}}</mat-error>
        <div class="spacer"></div>
        <mat-label>Close Time:</mat-label>
        <app-time-select #closeSheet [disabled]="!sheet.value" [control]="close"></app-time-select>
        <mat-error *ngIf="sheet.value">{{getCloseError()}}</mat-error>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary"
        [disabled]="sheet.invalid || open.invalid || close.invalid" (click)="submit()">Add
        Shift</button>
</div>